@model ChannelsCreateViewModel
    <section>
        <form asp-action="CreateChannel" asp-controller="Channel" method="post" enctype="application/x-www-form-urlencoded">
            <div class="form-group">
                <label asp-for="Naam"></label>
                <input asp-for="Naam" class="form-control" />
                <span asp-validation-for="Naam"></span>
            </div>
            <div class="form-group">
                <input hidden asp-for="Id" value="Model.Id" />
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-dark text-danger" value="Create!" />
            </div>
        </form>
    </section>