/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
  
  
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background-color:darkgray;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  z-index:2;
}
#groups{
    background-color:darkgrey;
    position:absolute;
    float:left;
    height:100%;
    top: 0;
    z-index:1;
    bottom:0;
}
nav{
    z-index:2;
    
}
#groupsform{
    position:relative;
    left: 20rem;
    max-width:75%;
}
/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 20%; /* Set the width of the sidebar */
    position: Fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    bottom:-2rem; /* Stay at the top */
    left: 0;
    background-color: gray; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    
} .sidenav .jumbotron{
      padding:2rem;
      width: 98%;
       text-align:center;
       color:grey;
       
  }
    .sidenav .jumbotron img{
        position:absolute;
       left:2rem;
    }
  .sidenav h1{
      position:absolute;
      top: 2rem;
  }
  /*#channelCreateButton{
      position:absolute;
      right:76rem
  }*/
  section{
      position:relative;
      top:8rem;
      left:40rem;
      width: 85rem;
      padding-bottom:20rem;
     
  }
  section p{
      font-size:4rem;
  }
  
  section .jumbotron{
      width: 100%;
      text-align:center;
      font-size: 2rem;
  }
article {
    position: fixed;
    bottom: 3rem;
    
    width: 100%;
    background-color:black;
    padding-top:2rem;
    padding-bottom:1rem;
}
article form{
    position:relative;
    left:50rem;
    width: 100rem;
}
h1{
    color:darkred;
}
.chat {
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-bottom:10rem;
    padding-top:10rem;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

        
} 

